In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.declarative import declared_attr

from sqlalchemy.orm import sessionmaker

In [2]:
engine = create_engine("sqlite:///:memory:", echo=True)

In [4]:
from sqlalchemy import Column, Integer, String, Boolean
from sqlalchemy.orm import relationship
from sqlalchemy import ForeignKey

Base = declarative_base()
Session = sessionmaker(bind=engine)
session = Session()

Base.query = session.query()

In [5]:
class BaseTable(object):
    
    """
    Base class for NCBI taxonomy SQLalchemy tables.
    Intended to be subclassed, will not work on it's own.
    
    Defines several class methods for working with the SQLAlchemy ORM.
    """

    @declared_attr
    def __tablename__(cls):
        return cls.__name__.lower()
    
    # Always have dedicated primary key
    id = Column(Integer, primary_key=True)

    @classmethod
    def from_file(cls, filepath, session, sep=None, columns=None, header=None):
        """ Read a file into the SQL taxonomy database. """
        if columns is None:
            columns = cls.columns
        
        if sep is None:
            sep = cls.sep
        
        if header is None:
            header = cls.header
        
        def line_trans(line):
            output = {}
            sline = line.split(sep)
            for column, (colname, trans) in zip(sline, columns):
                output[colname] = trans(column) 
            return output

        with open(filepath, "r") as handle:
            #if there is a header skip the first line. 
            if header:
                next(handle)

            session.bulk_insert_mappings(
                cls,
                [line_trans(l) for l in handle]
            )

        session.commit()
        return


class Acc2Tax(BaseTable, Base):
    """ Table to hold any of the files mapping accession to taxid.
    
    Columns in the table are:
    accession
    accession.version
    taxid
    gi
    
    Note that these files may have a header column
    """
    
    accession = Column(String)
    accession_version = Column(String, unique=True)
    
    taxid = Column(Integer, ForeignKey('nodes.taxid'))
    node = relationship("Nodes", back_populates="accessions")
    
    gi = Column(Integer)

    # Columns class variable is used for reading from txt files.
    # Can be changed when invoking the class method
    columns = [
        ("accession", str),
        ("accession_version", str),
        ("taxid", int),
        ("gi", int),
        ]

    # The column delimiter for the text file.
    sep = "\t"
    header = True


class Nodes(BaseTable, Base):
    """
    Table schema to hold "nodes.dmp" from taxdump folder.

    Description of file columns in NCBI ftp:
    tax_id -- node id in GenBank taxonomy database
    parent tax_id -- parent node id in GenBank taxonomy database
    rank -- rank of this node (superkingdom, kingdom, ...) 
    embl code -- locus-name prefix; not unique
    division id -- see division.dmp file
    inherited div flag  (1 or 0) -- 1 if node inherits division from parent
    genetic code id -- see gencode.dmp file
    inherited GC  flag  (1 or 0) -- 1 if node inherits genetic code from parent
    mitochondrial genetic code id -- see gencode.dmp file
    inherited MGC flag  (1 or 0) -- 1 if node inherits mitochondrial gencode from parent
    GenBank hidden flag (1 or 0) -- 1 if name is suppressed in GenBank entry lineage
    hidden subtree root flag (1 or 0) -- 1 if this subtree has no sequence data yet
    comments -- free-text comments and citations
    """

    taxid = Column(Integer, unique=True)
    parent_taxid = Column(Integer)
    rank = Column(String)
    embl_code = Column(String)
    
    division_id = Column(Integer, ForeignKey("division.division_id")) # Foreign key
    division = relationship("Division", back_populates="nodes")

    inherited_div_flag = Column(Boolean)
    genetic_code_id = Column(String) # Foreign key
    inherited_genetic_code_flag = Column(Boolean)
    mitochonchondrial_genetic_code_id = Column(String) # Foreign key, poss same as genetic code id.
    inherited_mitochonchondrial_genetic_code_flag = Column(Boolean)
    genbank_hidden_flag = Column(Boolean)
    hidden_subtree_root_flag = Column(Boolean)
    comment = Column(String)

    names = relationship("Names", back_populates="node")
    accessions = relationship("Acc2Tax", back_populates="node")

    # Columns class variable is used for reading from txt files.
    # Can be changed when invoking the class method
    columns = [
        ("taxid", int),
        ("parent_taxid", int),
        ("rank", str),
        ("embl_code", str),
        ("division_id", int),
        ("inherited_div_flag", bool),
        ("genetic_code_id", str),
        ("inherited_genetic_code_flag", bool),
        ("mitochonchondrial_genetic_code_id", str),
        ("inherited_mitochonchondrial_genetic_code_flag", bool),
        ("genbank_hidden_flag", bool),
        ("hidden_subtree_root_flag", bool), 
        ("comments", str)
        ]

    # The file delimiter for the text file.
    sep = "\t|\t"
    header = False


    @classmethod
    def get_parents(cls, taxids, session):
        def recurse(taxid):
            output = []
            
            record = session.query(cls).filter(cls.taxid == taxid).one()
            output.append(record)
            
            if taxid != 1:
                output.extend(recurse(record.parent_taxid))
            
            return output
        
        output = []
        for taxid in taxids:
            output.extend(recurse(taxid))
        return output

    def get_children(cls, taxids, session=None):
        
        if session is not None and cls.session is not None:
            session = cls.session

class Names(BaseTable, Base):
    """ Table schema for "names.dmp" from taxdmp folder

    Description of file columns:
    tax_id -- the id of node associated with this name
    name_txt -- name itself
    unique name -- the unique variant of this name if name not unique
    name class -- (synonym, common name, ...)
    """

    taxid = Column(Integer, ForeignKey('nodes.taxid'))
    name = Column(String)
    unique_name = Column(String)
    name_class = Column(String)

    node = relationship("Nodes", back_populates="names")

    # Columns class variable is used for reading from txt files.
    # Can be changed when invoking the class method
    columns = [
        ("taxid", int),
        ("name", str),
        ("unique_name", str),
        ("name_class", str),
        ]

    # The file delimiter for the text file.
    sep = "\t|\t"
    header = False


class Division(BaseTable, Base):
    """ Table schema for "divisions.dmp" from taxdmp folder

    Description of file columns:
    division id -- taxonomy database division id
    division cde -- GenBank division code (three characters)
    division name -- e.g. BCT, PLN, VRT, MAM, PRI...
    comments
    """

    division_id = Column(Integer, unique=True) # Foreign key with nodes.
    division_cde = Column(String) # Three letter name
    division_name = Column(String)
    comments = Column(String)

    nodes = relationship("Nodes", back_populates="division")
    
    # Columns class variable is used for reading from txt files.
    # Can be changed when invoking the class method
    columns = [
        ("division_id", int),
        ("division_cde", str),
        ("division_name", str),
        ("comments", str),
        ]

    # The file delimiter for the text file.
    sep = "\t|\t"
    header = False


class GenCode(BaseTable, Base):
    """ Table schema for "gencode.dmp" from taxdmp folder.

    ##Has a weird file format, needs special parser

    Description of file columns:

    genetic code id -- GenBank genetic code id
    abbreviation -- genetic code name abbreviation
    name -- genetic code name
    cde -- translation table for this genetic code
    starts -- start codons for this genetic code

    """

    code_id = Column(String)
    abbreviation = Column(String)
    name = Column(String)
    cde = Column(String)
    starts = Column(String)

In [6]:
Base.metadata.create_all(engine)

2018-03-24 14:29:39,594 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-03-24 14:29:39,596 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,599 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-03-24 14:29:39,602 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,605 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("acc2tax")
2018-03-24 14:29:39,607 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,610 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("nodes")
2018-03-24 14:29:39,612 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,614 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("names")
2018-03-24 14:29:39,615 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,616 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("division")
2018-03-24 14:29:39,619 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,620 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("gencode")
2018-03-24 14:29:39,622 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,627 INFO sqlalchemy.engine.base.Engine
CREATE TABLE division (
	id INTEGER NOT NULL,
	division_id INTEGER,
	division_cde VARCHAR,
	division_name VARCHAR,
	comments VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (division_id)
)


2018-03-24 14:29:39,629 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,631 INFO sqlalchemy.engine.base.Engine COMMIT
2018-03-24 14:29:39,633 INFO sqlalchemy.engine.base.Engine
CREATE TABLE gencode (
	id INTEGER NOT NULL,
	code_id VARCHAR,
	abbreviation VARCHAR,
	name VARCHAR,
	cde VARCHAR,
	starts VARCHAR,
	PRIMARY KEY (id)
)


2018-03-24 14:29:39,634 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,636 INFO sqlalchemy.engine.base.Engine COMMIT
2018-03-24 14:29:39,639 INFO sqlalchemy.engine.base.Engine
CREATE TABLE nodes (
	id INTEGER NOT NULL,
	taxid INTEGER,
	parent_taxid INTEGER,
	rank VARCHAR,
	embl_code VARCHAR,
	division_id INTEGER,
	inherited_div_flag BOOLEAN,
	genetic_code_id VARCHAR,
	inherited_genetic_code_flag BOOLEAN,
	mitochonchondrial_genetic_code_id VARCHAR,
	inherited_mitochonchondrial_genetic_code_flag BOOLEAN,
	genbank_hidden_flag BOOLEAN,
	hidden_subtree_root_flag BOOLEAN,
	comment VARCHAR,
	PRIMARY KEY (id),
	UNIQUE (taxid),
	FOREIGN KEY(division_id) REFERENCES division (division_id),
	CHECK (inherited_div_flag IN (0, 1)),
	CHECK (inherited_genetic_code_flag IN (0, 1)),
	CHECK (inherited_mitochonchondrial_genetic_code_flag IN (0, 1)),
	CHECK (genbank_hidden_flag IN (0, 1)),
	CHECK (hidden_subtree_root_flag IN (0, 1))
)


2018-03-24 14:29:39,640 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,641 INFO sqlalchemy.engine.base.Engine COMMIT
2018-03-24 14:29:39,643 INFO sqlalchemy.engine.base.Engine
CREATE TABLE acc2tax (
	id INTEGER NOT NULL,
	accession VARCHAR,
	accession_version VARCHAR,
	taxid INTEGER,
	gi INTEGER,
	PRIMARY KEY (id),
	UNIQUE (accession_version),
	FOREIGN KEY(taxid) REFERENCES nodes (taxid)
)


2018-03-24 14:29:39,643 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,648 INFO sqlalchemy.engine.base.Engine COMMIT
2018-03-24 14:29:39,650 INFO sqlalchemy.engine.base.Engine
CREATE TABLE names (
	id INTEGER NOT NULL,
	taxid INTEGER,
	name VARCHAR,
	unique_name VARCHAR,
	name_class VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(taxid) REFERENCES nodes (taxid)
)


2018-03-24 14:29:39,651 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 14:29:39,653 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
Nodes.from_file("/home/darcyabjones/data/sequence_databases/data/ncbi_taxonomy/nodes.dmp", session)

2018-03-24 14:29:53,042 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-24 14:30:33,800 INFO sqlalchemy.engine.base.Engine INSERT INTO nodes (taxid, parent_taxid, rank, embl_code, division_id, inherited_div_flag, genetic_code_id, inherited_genetic_code_flag, mitochonchondrial_genetic_code_id, inherited_mitochonchondrial_genetic_code_flag, genbank_hidden_flag, hidden_subtree_root_flag) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-03-24 14:30:33,801 INFO sqlalchemy.engine.base.Engine ((1, 1, 'no rank', '', 8, 1, '1', 1, '0', 1, 1, 1), (2, 131567, 'superkingdom', '', 0, 1, '11', 1, '0', 1, 1, 1), (6, 335928, 'genus', '', 0, 1, '11', 1, '0', 1, 1, 1), (7, 6, 'species', 'AC', 0, 1, '11', 1, '0', 1, 1, 1), (9, 32199, 'species', 'BA', 0, 1, '11', 1, '0', 1, 1, 1), (10, 1706371, 'genus', '', 0, 1, '11', 1, '0', 1, 1, 1), (11, 1707, 'species', 'CG', 0, 1, '11', 1, '0', 1, 1, 1), (13, 203488, 'genus', '', 0, 1, '11', 1, '0', 1, 1, 1)  ... displaying 10 of 1671956 total bound parameter sets ...  (2070753, 5052, 'species', 'AS', 4, 1, '1', 1, '4', 1, 1, 1), (2070766, 100167, 'no rank', '', 4, 1, '1', 1, '1', 1, 1, 1))
2018-03-24 14:30:40,869 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
Names.from_file("/home/darcyabjones/data/sequence_databases/data/ncbi_taxonomy/names.dmp", session)

2018-03-24 14:31:06,864 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-24 14:31:31,221 INFO sqlalchemy.engine.base.Engine INSERT INTO names (taxid, name, unique_name, name_class) VALUES (?, ?, ?, ?)
2018-03-24 14:31:31,222 INFO sqlalchemy.engine.base.Engine ((1, 'all', '', 'synonym\t|\n'), (1, 'root', '', 'scientific name\t|\n'), (2, 'Bacteria', 'Bacteria <prokaryotes>', 'scientific name\t|\n'), (2, 'Monera', 'Monera <Bacteria>', 'in-part\t|\n'), (2, 'Procaryotae', 'Procaryotae <Bacteria>', 'in-part\t|\n'), (2, 'Prokaryota', 'Prokaryota <Bacteria>', 'in-part\t|\n'), (2, 'Prokaryotae', 'Prokaryotae <Bacteria>', 'in-part\t|\n'), (2, 'bacteria', 'bacteria <blast2>', 'blast name\t|\n')  ... displaying 10 of 2502749 total bound parameter sets ...  (2070753, 'Sagenomella sclerotialis', '', 'synonym\t|\n'), (2070766, 'Psoralea aphylla complex', '', 'scientific name\t|\n'))
2018-03-24 14:31:36,384 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
x = Nodes.get_parents([2070753, 2070766], session)
x

2018-03-24 14:32:16,236 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,250 INFO sqlalchemy.engine.base.Engine (2070753,)
2018-03-24 14:32:16,274 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,278 INFO sqlalchemy.engine.base.Engine (5052,)
2018-03-24 14:32:16,284 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,285 INFO sqlalchemy.engine.base.Engine (1131492,)
2018-03-24 14:32:16,289 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,291 INFO sqlalchemy.engine.base.Engine (5042,)
2018-03-24 14:32:16,303 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,304 INFO sqlalchemy.engine.base.Engine (451871,)
2018-03-24 14:32:16,310 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,314 INFO sqlalchemy.engine.base.Engine (147545,)
2018-03-24 14:32:16,318 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,319 INFO sqlalchemy.engine.base.Engine (716546,)
2018-03-24 14:32:16,322 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,323 INFO sqlalchemy.engine.base.Engine (147538,)
2018-03-24 14:32:16,327 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,328 INFO sqlalchemy.engine.base.Engine (716545,)
2018-03-24 14:32:16,337 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,338 INFO sqlalchemy.engine.base.Engine (4890,)
2018-03-24 14:32:16,341 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,342 INFO sqlalchemy.engine.base.Engine (451864,)
2018-03-24 14:32:16,348 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,355 INFO sqlalchemy.engine.base.Engine (4751,)
2018-03-24 14:32:16,359 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,362 INFO sqlalchemy.engine.base.Engine (33154,)
2018-03-24 14:32:16,368 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,370 INFO sqlalchemy.engine.base.Engine (2759,)
2018-03-24 14:32:16,374 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,375 INFO sqlalchemy.engine.base.Engine (131567,)
2018-03-24 14:32:16,380 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,381 INFO sqlalchemy.engine.base.Engine (1,)
2018-03-24 14:32:16,387 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,388 INFO sqlalchemy.engine.base.Engine (2070766,)
2018-03-24 14:32:16,392 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,393 INFO sqlalchemy.engine.base.Engine (100167,)
2018-03-24 14:32:16,396 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,397 INFO sqlalchemy.engine.base.Engine (163737,)
2018-03-24 14:32:16,404 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,407 INFO sqlalchemy.engine.base.Engine (3814,)
2018-03-24 14:32:16,411 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,412 INFO sqlalchemy.engine.base.Engine (3803,)
2018-03-24 14:32:16,417 INFO sqlalchemy.engine.base.Engine SELECT nodes.id AS nodes_id, nodes.taxid AS nodes_taxid, nodes.parent_taxid AS nodes_parent_taxid, nodes.rank AS nodes_rank, nodes.embl_code AS nodes_embl_code, nodes.division_id AS nodes_division_id, nodes.inherited_div_flag AS nodes_inherited_div_flag, nodes.genetic_code_id AS nodes_genetic_code_id, nodes.inherited_genetic_code_flag AS nodes_inherited_genetic_code_flag, nodes.mitochonchondrial_genetic_code_id AS nodes_mitochonchondrial_genetic_code_id, nodes.inherited_mitochonchondrial_genetic_code_flag AS nodes_inherited_mitochonchondrial_genetic_code_flag, nodes.genbank_hidden_flag AS nodes_genbank_hidden_flag, nodes.hidden_subtree_root_flag AS nodes_hidden_subtree_root_flag, nodes.comment AS nodes_comment
FROM nodes
WHERE nodes.taxid = ?
2018-03-24 14:32:16,423 INFO sqlalchemy.engine.base.Engine (72025,)

[<__main__.Nodes at 0x7f64f6b14be0>,
 <__main__.Nodes at 0x7f64f6b14d30>,
 <__main__.Nodes at 0x7f6542b7d080>,
 <__main__.Nodes at 0x7f64f6b14e80>,
 <__main__.Nodes at 0x7f6542b7d2e8>,
 <__main__.Nodes at 0x7f6542b7d5c0>,
 <__main__.Nodes at 0x7f6542b7db70>,
 <__main__.Nodes at 0x7f6542b7de48>,
 <__main__.Nodes at 0x7f6542b7dac8>,
 <__main__.Nodes at 0x7f6542b7def0>,
 <__main__.Nodes at 0x7f64f6b14898>,
 <__main__.Nodes at 0x7f646c3c01d0>,
 <__main__.Nodes at 0x7f646c3c04e0>,
 <__main__.Nodes at 0x7f646c3c02e8>,
 <__main__.Nodes at 0x7f646c3c0978>,
 <__main__.Nodes at 0x7f646c3c0b70>,
 <__main__.Nodes at 0x7f6542b7db00>,
 <__main__.Nodes at 0x7f6542b7d7f0>,
 <__main__.Nodes at 0x7f646c3c0710>,
 <__main__.Nodes at 0x7f646c3c0320>,
 <__main__.Nodes at 0x7f646c3c0e48>,
 <__main__.Nodes at 0x7f646c3ca0b8>,
 <__main__.Nodes at 0x7f646c3ca358>,
 <__main__.Nodes at 0x7f646c3ca5f8>,
 <__main__.Nodes at 0x7f646c3c0828>,
 <__main__.Nodes at 0x7f646c3c0e80>,
 <__main__.Nodes at 0x7f646c3ca5c0>,
 <__main__.Nodes at 0x7f646c3ca710>,
 <__main__.Nodes at 0x7f646c3cac88>,
 <__main__.Nodes at 0x7f646c3caf98>,
 <__main__.Nodes at 0x7f646c3caef0>,
 <__main__.Nodes at 0x7f646c3d31d0>,
 <__main__.Nodes at 0x7f646c3caa58>,
 <__main__.Nodes at 0x7f646c3cabe0>,
 <__main__.Nodes at 0x7f646c3d3400>,
 <__main__.Nodes at 0x7f646c3d32b0>,
 <__main__.Nodes at 0x7f646c3c02e8>,
 <__main__.Nodes at 0x7f646c3c0978>,
 <__main__.Nodes at 0x7f646c3c0b70>]

In [13]:
[[y_i.name for y_i in x_i.names] for x_i in x]

2018-03-24 14:32:16,553 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:16,557 INFO sqlalchemy.engine.base.Engine (2070753,)
2018-03-24 14:32:16,750 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:16,751 INFO sqlalchemy.engine.base.Engine (5052,)
2018-03-24 14:32:16,922 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:16,923 INFO sqlalchemy.engine.base.Engine (1131492,)
2018-03-24 14:32:17,093 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:17,094 INFO sqlalchemy.engine.base.Engine (5042,)
2018-03-24 14:32:17,264 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:17,265 INFO sqlalchemy.engine.base.Engine (451871,)
2018-03-24 14:32:17,435 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:17,436 INFO sqlalchemy.engine.base.Engine (147545,)
2018-03-24 14:32:17,604 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:17,605 INFO sqlalchemy.engine.base.Engine (716546,)
2018-03-24 14:32:17,774 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:17,775 INFO sqlalchemy.engine.base.Engine (147538,)
2018-03-24 14:32:17,953 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:17,954 INFO sqlalchemy.engine.base.Engine (716545,)
2018-03-24 14:32:18,128 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:18,128 INFO sqlalchemy.engine.base.Engine (4890,)
2018-03-24 14:32:18,300 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:18,301 INFO sqlalchemy.engine.base.Engine (451864,)
2018-03-24 14:32:18,487 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:18,488 INFO sqlalchemy.engine.base.Engine (4751,)
2018-03-24 14:32:18,678 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:18,679 INFO sqlalchemy.engine.base.Engine (33154,)
2018-03-24 14:32:18,862 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:18,863 INFO sqlalchemy.engine.base.Engine (2759,)
2018-03-24 14:32:19,044 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:19,045 INFO sqlalchemy.engine.base.Engine (131567,)
2018-03-24 14:32:19,224 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:19,225 INFO sqlalchemy.engine.base.Engine (1,)
2018-03-24 14:32:19,410 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:19,411 INFO sqlalchemy.engine.base.Engine (2070766,)
2018-03-24 14:32:19,597 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:19,597 INFO sqlalchemy.engine.base.Engine (100167,)
2018-03-24 14:32:19,775 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:19,776 INFO sqlalchemy.engine.base.Engine (163737,)
2018-03-24 14:32:19,948 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:19,948 INFO sqlalchemy.engine.base.Engine (3814,)
2018-03-24 14:32:20,116 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:20,116 INFO sqlalchemy.engine.base.Engine (3803,)
2018-03-24 14:32:20,288 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:20,289 INFO sqlalchemy.engine.base.Engine (72025,)
2018-03-24 14:32:20,461 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:20,462 INFO sqlalchemy.engine.base.Engine (91835,)
2018-03-24 14:32:20,633 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:20,634 INFO sqlalchemy.engine.base.Engine (71275,)
2018-03-24 14:32:20,803 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:20,804 INFO sqlalchemy.engine.base.Engine (1437201,)
2018-03-24 14:32:20,975 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:20,976 INFO sqlalchemy.engine.base.Engine (91827,)
2018-03-24 14:32:21,147 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:21,148 INFO sqlalchemy.engine.base.Engine (71240,)
2018-03-24 14:32:21,314 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:21,315 INFO sqlalchemy.engine.base.Engine (1437183,)
2018-03-24 14:32:21,484 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:21,485 INFO sqlalchemy.engine.base.Engine (3398,)
2018-03-24 14:32:21,654 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:21,655 INFO sqlalchemy.engine.base.Engine (58024,)
2018-03-24 14:32:21,819 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:21,820 INFO sqlalchemy.engine.base.Engine (78536,)
2018-03-24 14:32:21,991 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:21,991 INFO sqlalchemy.engine.base.Engine (58023,)
2018-03-24 14:32:22,170 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:22,170 INFO sqlalchemy.engine.base.Engine (3193,)
2018-03-24 14:32:22,340 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:22,341 INFO sqlalchemy.engine.base.Engine (131221,)
2018-03-24 14:32:22,510 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:22,511 INFO sqlalchemy.engine.base.Engine (35493,)
2018-03-24 14:32:22,680 INFO sqlalchemy.engine.base.Engine SELECT names.id AS names_id, names.taxid AS names_taxid, names.name AS names_name, names.unique_name AS names_unique_name, names.name_class AS names_name_class
FROM names
WHERE ? = names.taxid
2018-03-24 14:32:22,681 INFO sqlalchemy.engine.base.Engine (33090,)

[['Aspergillus sclerotialis',
  'Aspergillus sclerotialis (W. Gams & Breton) Houbraken et al., 2017',
  'CBS 366.77',
  'IAM 14794',
  'Phialosimplex sclerotialis',
  'Sagenomella sclerotialis'],
 ['Aspergillus', 'Petromyces'],
 ['Aspergillaceae', 'Aspergillaceae Link 1826'],
 ['Elaphomycetales', 'Eurotiales', 'green and blue molds'],
 ['Eurotiomycetidae'],
 ['Chaetothyriomycetes',
  'Eurotiomycetes',
  'Loculoascomycetes',
  'Plectomycetes',
  'bitunicate ascomycetes'],
 ['leotiomyceta'],
 ['Euascomycota', 'Pezizomycotina'],
 ['saccharomyceta'],
 ['Ascomycota', 'ascomycetes', 'ascomycetes', 'sac fungi'],
 ['Dikarya'],
 ['Fungi', 'fungi', 'fungi'],
 ['Fungi/Metazoa group',
  'Opisthokonta',
  'Opisthokonta Cavalier-Smith 1987',
  'opisthokonts'],
 ['Eucarya',
  'Eucaryotae',
  'Eukarya',
  'Eukaryota',
  'Eukaryotae',
  'eucaryotes',
  'eukaryotes',
  'eukaryotes'],
 ['biota', 'cellular organisms'],
 ['all', 'root'],
 ['Psoralea aphylla complex'],
 ['Psoralea', 'Psoralea L., 1753'],
 ['Psoraleeae'],
 ['Faboideae', 'Faboideae Rudd, 1968', 'Papilionoideae'],
 ['Fabaceae', 'Leguminosae', 'pea family'],
 ['Fabales'],
 ['eurosids I', 'fabids'],
 ['Rosidae', 'rosids'],
 ['Pentapetalae', 'Pentapetalae D.E.Soltis, P.S.Soltis & W.S.Judd, 2007'],
 ['Gunneridae',
  'Gunneridae D.E.Soltis, P.S.Soltis & W.S.Judd, 2007',
  'core eudicots',
  'core eudicotyledons'],
 ['Dicotyledoneae',
  'Magnoliopsida',
  'dicots',
  'dicotyledons',
  'eudicots',
  'eudicotyledons'],
 ['Mesangiospermae',
  'Mesangiospermae M.J.Donoghue, J.A.Doyle & P.D.Cantino, 2007'],
 ['Angiospermae',
  'Magnoliophyta',
  'angiosperms',
  'flowering plants',
  'flowering plants'],
 ['Spermatophyta', 'seed plants', 'seed plants'],
 ['Euphyllophyta', 'euphyllophytes'],
 ['Tracheophyta',
  'Tracheophyta Sinnott ex Cavalier-Smith, 1998',
  'vascular plants',
  'vascular plants'],
 ['Embryophyta', 'higher plants', 'land plants', 'land plants', 'plants'],
 ['Charophyta/Embryophyta group',
  'Streptophytina',
  'charophyte/embryophyte group'],
 ['Streptophyta', 'Streptophyta Bremer, 1985'],
 ['Chlorobionta',
  'Chlorobionta Bremer, 1985',
  'Chlorophyta/Embryophyta group',
  'Viridiplantae',
  'Viridiplantae Cavalier-Smith, 1981',
  'chlorophyte/embryophyte group',
  'green plants',
  'green plants'],
 ['Eucarya',
  'Eucaryotae',
  'Eukarya',
  'Eukaryota',
  'Eukaryotae',
  'eucaryotes',
  'eukaryotes',
  'eukaryotes'],
 ['biota', 'cellular organisms'],
 ['all', 'root']]

In [11]:
y = x[0].division

2018-01-30 18:07:22,352 INFO sqlalchemy.engine.base.Engine SELECT division.id AS division_id_1, division.division_id AS division_division_id, division.division_cde AS division_division_cde, division.division_name AS division_division_name, division.comments AS division_comments
FROM division
WHERE division.division_id = ?
2018-01-30 18:07:22,356 INFO sqlalchemy.engine.base.Engine ('plants',)

In [15]:
y.division_name

'PLN'

In [16]:
with open("/home/darcyabjones/data/sequence_databases/data/ncbi_taxonomy/nodes.dmp") as handle:
    for i, f in enumerate(handle):
        print(f)
        if i > 5:
            break

1	|	1	|	no rank	|		|	8	|	0	|	1	|	0	|	0	|	0	|	0	|	0	|		|

2	|	131567	|	superkingdom	|		|	0	|	0	|	11	|	0	|	0	|	0	|	0	|	0	|		|

6	|	335928	|	genus	|		|	0	|	1	|	11	|	1	|	0	|	1	|	0	|	0	|		|

7	|	6	|	species	|	AC	|	0	|	1	|	11	|	1	|	0	|	1	|	1	|	0	|		|

9	|	32199	|	species	|	BA	|	0	|	1	|	11	|	1	|	0	|	1	|	1	|	0	|		|

10	|	1706371	|	genus	|		|	0	|	1	|	11	|	1	|	0	|	1	|	0	|	0	|		|

11	|	1707	|	species	|	CG	|	0	|	1	|	11	|	1	|	0	|	1	|	1	|	0	|		|